{% if surveys %}
<table id="surveys" class="tablesorter-bootstrap table table-condensed table-striped">
    <thead>
	    <tr>
	        <th>Name</th>
	        <th>Responder</th>
	        <th>Status</th>
	        <th>Completion Date</th>
	        <th>Actions</th>
	    </tr>
    </thead>
{% for survey in surveys %}
    <tr> 
        <td><a href="/engagement/{{survey.engagement.id}}/survey/{{ survey.id }}">{{survey.survey.name}}</a> </td>
        <td>{{survey.responder}}</td>
        <td>
            {% if survey.completed %}
                <span class="pass_fail Pass">Completed</span>
            {% else %}
                <span class="pass_fail">Unanswered</span>
            {% endif %}
        </td>
        <td>{{survey.answered_on}}</td>
        <td>
            <div class="btn-group">
                {% if not survey.completed %}
		          <a class="btn btn-sm btn-success" href="/engagement/{{survey.engagement.id}}/survey/{{ survey.id }}/answer"> Answer</a>
	            {% else %}
	              <a class="btn btn-sm btn-primary" href="/engagement/{{survey.engagement.id}}/survey/{{ survey.id }}"> View Responses </a> 
		          <a class="btn btn-sm btn-warning" href="/engagement/{{survey.engagement.id}}/survey/{{ survey.id }}/answer"> Edit Responses </a>
		        {% endif %}
		        <a class="btn btn-sm btn-danger" href="/engagement/{{survey.engagement.id}}/survey/{{ survey.id }}/delete"> Delete Survey </a>
		    </div>
        </td>
    </tr>
{% endfor %}
</table>
{% else %}
<p>No surveys found.</p>
{% endif %}